IndecentSystem_WebApplication/TestWScobranzas/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60752/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60752/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60752/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:60752/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService_WScobranza" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_x_Cliente_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_x_Cliente" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_x_Cliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_x_ClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Datos_Cliente_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Datos_Cliente" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Datos_Cliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Datos_ClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Datos_Llamadas_x_Dni_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Datos_Llamadas_x_Dni" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Datos_Llamadas_x_Dni_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Datos_Llamadas_x_DniResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Detalle_x_Dni_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Detalle_x_Dni" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Detalle_x_Dni_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Detalle_x_DniResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Telefonos_x_Dni_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Telefonos_x_Dni" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Telefonos_x_Dni_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Telefonos_x_DniResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Direccion_x_Dni_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Direccion_x_Dni" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Direccion_x_Dni_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Direccion_x_DniResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Pagos_x_Dni_Deuda_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Pagos_x_Dni_Deuda" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Pagos_x_Dni_Deuda_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Pagos_x_Dni_DeudaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Visitas_x_Dni_Deuda_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Visitas_x_Dni_Deuda" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Deuda_Visitas_x_Dni_Deuda_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Deuda_Visitas_x_Dni_DeudaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_x_Cliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Deuda_x_Cliente" message="tns:IService1_get_Deuda_x_Cliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_Deuda_x_ClienteResponse" message="tns:IService1_get_Deuda_x_Cliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Datos_Cliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Datos_Cliente" message="tns:IService1_get_Datos_Cliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_Datos_ClienteResponse" message="tns:IService1_get_Datos_Cliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Datos_Llamadas_x_Dni">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Datos_Llamadas_x_Dni" message="tns:IService1_get_Datos_Llamadas_x_Dni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_Datos_Llamadas_x_DniResponse" message="tns:IService1_get_Datos_Llamadas_x_Dni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Detalle_x_Dni">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Deuda_Detalle_x_Dni" message="tns:IService1_get_Deuda_Detalle_x_Dni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_Deuda_Detalle_x_DniResponse" message="tns:IService1_get_Deuda_Detalle_x_Dni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Telefonos_x_Dni">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Deuda_Telefonos_x_Dni" message="tns:IService1_get_Deuda_Telefonos_x_Dni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_Deuda_Telefonos_x_DniResponse" message="tns:IService1_get_Deuda_Telefonos_x_Dni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Direccion_x_Dni">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Deuda_Direccion_x_Dni" message="tns:IService1_get_Deuda_Direccion_x_Dni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_Deuda_Direccion_x_DniResponse" message="tns:IService1_get_Deuda_Direccion_x_Dni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Pagos_x_Dni_Deuda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Deuda_Pagos_x_Dni_Deuda" message="tns:IService1_get_Deuda_Pagos_x_Dni_Deuda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_Deuda_Pagos_x_Dni_DeudaResponse" message="tns:IService1_get_Deuda_Pagos_x_Dni_Deuda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Visitas_x_Dni_Deuda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Deuda_Visitas_x_Dni_Deuda" message="tns:IService1_get_Deuda_Visitas_x_Dni_Deuda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_Deuda_Visitas_x_Dni_DeudaResponse" message="tns:IService1_get_Deuda_Visitas_x_Dni_Deuda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_x_Cliente">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Deuda_x_Cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Datos_Cliente">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Datos_Cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Datos_Llamadas_x_Dni">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Datos_Llamadas_x_Dni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Detalle_x_Dni">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Deuda_Detalle_x_Dni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Telefonos_x_Dni">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Deuda_Telefonos_x_Dni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Direccion_x_Dni">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Deuda_Direccion_x_Dni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Pagos_x_Dni_Deuda">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Deuda_Pagos_x_Dni_Deuda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Deuda_Visitas_x_Dni_Deuda">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Deuda_Visitas_x_Dni_Deuda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60752/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>